/* RESET de base pour enlever les marges et paddings par défaut */


/* Contenu principal */
main {
    max-width: 900px;
    margin: 30px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



/* Formulaire */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1rem;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"] {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #ff6347;
    outline: none;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #333;
}

.categories {
    margin-bottom: 30px;
}

.categories h4 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #444;
}

.categories label {
    font-size: 1rem;
    margin-bottom: 8px;
    display: block;
}

button {
    background-color: #ff6347;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    align-self: center;
}

button:hover {
    background-color: #e55347;
}

/* Responsivité */
@media (max-width: 768px) {
    body {
        padding: 15px;
    }

    main {
        padding: 20px;
    }

    h1 {
        font-size: 1.8rem;
    }

    h3, h4 {
        font-size: 1.1rem;
    }

    label, button {
        font-size: 1rem;
    }
}
