

/* Corps de la page */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
}

/* En-tête */


/* Contenu principal */
main {

    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 20px;
}

 ul{
    list-style-type: none;
    padding-left: 20px;
}

 ul li{
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

  ul li:hover {
    background-color: #f0f0f0;
    transform: scale(1.02);
    transition: transparent;
}

.footer{
    background-color: white
}
