form{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

input{
    border-radius: 5px;
    height: 20px;
}

.connexion{
    color: black;
}   

.footer{
    position: fixed;
    bottom: 0%;
}

body{
    margin: 0%;
    padding: 0%;
}